body {
    font-family: 'Arial', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root {
    background-color: #dedfe0;
}
.range {
    width: 300px;
}
.page-wrapper {
    height: 100vh;
    padding-top: 5%;
}
.container {
    width: 350px;
    display: block;
}
.city-heading,
.categories-heading,
.price-heading{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Arial', serif;
    margin-top: 30px;
}
.price-wrapper {
    display: flex;
    justify-content: space-between;
}
.price {
    margin-top: 10px;
    font-weight: 700;
}
.city-text-wrapper {
    width: 90%;
    height: 105px;
    border: 1px solid #e9e9e9;
}
.filter-button {
    background-color: #1cb8ff;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 10px 4px 10px;
    transition: .7s ease;
}
.filter-button:hover {
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
}
.city-name {
    color: #fff;
    margin-top: -24px;
    padding-left: 9px;
}
.card-heading {
    width: 200px;
    font-size: 16px;
    margin: 10px 0 0 10px;
    font-weight: 600;
    line-height: 18px;
}
.card-category {
    color: #a6a9af;
    font-size: 14px;
}
.block {
    width: 100%;
    margin: 10px
}
.block img {
    height: 150px;
    width: 90%;
}
.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 8px 10px 0 10px;
}
.card-info-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 10px;
}
.card-price {
    font-size: 15px;
    font-weight: 600;
}
.empty {
    width: 100%;
    text-align: center;
    margin-top: 3%;
}
.blocks-wrapper {
    display: flex;
    background-color: #fff;
}
.block:hover {
    cursor: pointer;
}
.filter-icon {
    display: none;
    padding: 15px 0 0 15px;
    position: relative;
}
.fa-filter:before {
    font-size: 35px;
}
.background-footer {
    margin-top: 20px;
}
.MuiCheckbox-colorSecondary.Mui-checked {
    color: #1cb8ff !important;
}
.MuiSlider-root {
    color: #1cb8ff !important;
}
.check-box {
    height: 35px;
}
.MuiSlider-rail {
    height: 4px;
}
.MuiSlider-thumb {
    background-color: #fff !important;
    border: 2px solid #1cb8ff !important;
}
.city-dropdown {
    margin-bottom: 25px;
}
@media screen and (max-width: 1900px) {
    .card-heading {
        width: 90%;
    }
    .city-text-wrapper {
        height: 80px;
    }
    .card-info-wrapper {
        font-size: 20px;
    }
}
@media screen and (max-width: 1400px) {
    .city-text-wrapper {
        height: 105px;
    }
    .card-heading {
        width: 70%;
    }
}
@media screen and (max-width: 1180px) {
    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 910px) {
    .blocks-wrapper {
        display: block;
    }
    .block {
        margin-left: 15px;
    }
    .filter-icon {
        display: block;
    }
    .container {
        display: none;
        position: absolute;
        background-color: #fff;
        /*left: 10px;*/
        /*left: -340px;*/
    }
    .infoAboutList {
        /*width: 70%;*/
        margin:  35px auto;
        text-align: center;
    }
}
@media screen and (min-width: 910px) {
    .container {
        /*display:block !important;*/
    }
}
@media screen and (max-width: 550px) {
    .card-heading {
        width: 85%;
    }
}
@media screen and (max-width: 500px) {
    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 380px) {
    .container {
        width: 280px;
        padding: 0 8px;
    }
    .MuiSlider-root .MuiSlider-colorPrimary {
        width: 50% !important;
    }
    .price-wrapper {
        justify-content: space-around;
    }
    .Main-root-1 {
        width: 280px !important;
        margin-left: -22px;
    }
}
